<body>
  



    <br><br><br><br><br><br><br>
    
    <div class="container">
        <div class="container nav"> 
  <% if current_user %>
  <%= link_to "Выход", destroy_user_session_path, method: :delete, :class => "btn btn-dark" %>
<% else %>
  <p><%= link_to "Вход", new_user_session_path, :class => "btn btn-primary" %></p>  
<% end %>
</div>
    </div>



<section class="footer5 cid-sqTKvdBvWV fixed-bottom" once="footers" id="footer5-x">

    

    

 <div class="container">
    
    </div>
</section>
<section style="background-color: #fff; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif; color:#aaa; font-size:12px; padding: 0; align-items: center; display: flex;"><a href="https://mobirise.site/j" style="flex: 1 1; height: 3rem; padding-left: 1rem;"></a><p style="flex: 0 0 auto; margin:0; padding-right:1rem;"><a href="https://mobirise.site/l" style="color:#aaa;"></a></p></section>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
    <input name="animation" type="hidden">
  </body>
<script src="/assets/web/assets/jquery/jquery.min.js"></script>  
<script src="/assets/popper/popper.min.js"></script>  
<script src="/assets/tether/tether.min.js"></script>  
<script src="/assets/bootstrap/js/bootstrap.min.js"></script>  
<script src="/assets/smoothscroll/smooth-scroll.js"></script>  
<script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>  
<script src="/assets/dropdown/js/nav-dropdown.js"></script>  
<script src="/assets/dropdown/js/navbar-dropdown.js"></script>  
<script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>  
<script src="/assets/parallax/jarallax.min.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.js"></script>  
<script src="/assets/formstyler/jquery.formstyler.min.js"></script>  
<script src="/assets/datepicker/jquery.datetimepicker.full.js"></script>  
<script src="/assets/theme/js/script.js"></script>  
<script src="/assets/formoid/formoid.min.js"></script>  
